html{
    background: url(andreas-slotosch-PEw3Z6MI-jA-unsplash.jpg);
    background-size: cover;
    font-family:Helvetica, sans-serif;
    text-align: center;
    font-size: 10px;
}
body{
    font-size: 2rem;
    display: flex;
    flex:1;
    min-height: 100vh;
    align-items: center;
}
.clock{
    width:30rem;
     height: 30rem;
     border: 20px solid white;
     border-radius: 50%;
      margin: auto auto;
      position: relative;
      padding: 2rem;
      box-shadow: 0 0 0 4px rgba(0,0,0,0.1),inset 0 0 0 3px #EFEFEF;
}
.hand{
    width: 50%;
    height: 6px;
    background: black;
    position: absolute;
    top: 50%;
    transform-origin: right;
    transform: rotate(90deg);
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.1,2.7,0.58,1);
}
.clockface{
    position: relative;
    width: 100%;
    height: 100%;
    transform: translatey(-3px);
}
.hour-hand{
    background-color: white;
    font-size: x-small;
    display: flex;
    justify-content: start;
    align-items: center;
    text-align: center;
    color: red;
    font-weight: 700;
}
.min-hand{
    background-color: white;
    font-size: x-small;
    display: flex;
    justify-content: start;
    align-items: center;
    text-align: center;
    color: red;
    font-weight: 700;
}